# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/

# Data (Optional - usually good to ignore large data files)
# *.pdf
# data/

# Logs
*.log
